.block {
  margin-top: 120px;
}

.container {
  width: 1120px;
}

.blockName {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #23262F;
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.typeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under {
  list-style-type: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  margin-right: 20px;
  color: #777E90;
}

.typeDropdown {
  text-align: center;
  border: 2px solid #23262F;
  border-radius: 10px;
  width: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  height: 50px;
}

.typeFilter {
  text-align: center;
  background: #3772FF;
  border-radius: 90px;
  width: 120px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: none;
  color: #FCFCFD;
  height: 50px;
}

.blockLine {
  background-color: #E6E8EC;
  height: 2px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.blockNavigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blockNavigation__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #B1B5C4;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.blockNavigation__setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.blockImage {
  margin-top: 50px;
  width: 250px;
}

.blockImage__namePrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blockImage__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #23262F;
}

.blockImage__price {
  border: 2px solid #45B36B;
  border-radius: 5px;
  color: #45B36B;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  padding: 8px;
  text-transform: uppercase;
}

.blockImage__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #353945;
}

.blockImage__bid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blockImage__bidName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}

.blockImage__bidPrice {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #353945;
}

.blockImage__fire {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}

.blockLoad {
  border: 2px solid #23262F;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}